main {
  margin: 40px 90px 0;
  line-height: normal;
}

/*Header css */
.main-h {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('../images/Banner.png') center/cover no-repeat; 
 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 5px;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  height: 70vh;
}

.header {
  display: flex;
  width: 548px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.title-s {
  color: #fff;
  text-align: center;
  white-space: nowrap;
  font: 400 32px Merriweather, sans-serif;
  margin-bottom: 1px;
  font-size: 20px;
}

.title-b {
  color: #fff;
  text-align: center;
  font: 900 48px/58px Merriweather, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 65px;
  line-height: 95px;
  margin-top:10px;
}


/* Discount CSS*/
.discount-h1, .dis-p, .cetegory {
  text-align: center;
}

.discount-h1 {
  color: #f00;
  font-family: Inter;
  font-size: 75px;
  font-weight: 700;
  line-height: normal;
}

.dis-p {
  color: #f00;
  font-size: 24px;
  margin-top: 10px;
  white-space: nowrap;
  font-family: Inter, sans-serif;
}

.cetegory {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-top: 11px;
  white-space: nowrap;
  font-family: Inter, sans-serif;
}

/* Party Section CSS*/
.party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("../images/Vectorrr.png");
  border-radius: 16px;
  margin-top: 100px;
  height: 600px;
  display: flex;
  background-size: cover;
}

.party-content {
  color: white;
  word-wrap: break-word;
  padding: 126px 90px 298px 126px;
}

.party-h1 {
  font-size: 55px;
  font-family: Merriweather;
  font-weight: 900;
  line-height: 88px;
  margin: 0px 0px 25px 0px;
  letter-spacing: 7.04px;
}

.party-p {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0px 0px 25px 0px;
}

.img-y {
  padding: 68px 90px 67px 90px;
}

.perty-j {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: none;
  padding: 16px 32px;
}

/* Location Srction CSS */
.loc {
  margin-top: 110px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
  height: 482px;
  border-radius: 16px;
}

.loc-div {
  text-align: center;
  padding: 100px 30px 214px 30px;
  color: #070211;
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
  text-decoration: none;  
}

.location-content > h2 {
  margin: 0px 0px 15px 0px;
}

.l-text {
  padding-right: 11px;
  color: #FF0000;
}

.l-button {
  margin-top: 48px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  padding: 16px 32px;
  border: none;
  background-color: #FF0000;
  color: white;
}

/* Portfolio Section CSS */
.pf h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pf h2 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 16px 0px 22px 0px;
}

.pf p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.pf .imagesP {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pf .imagesP img {
    transition: transform 0.3s ease-in-out;
}

.pf .imagesP img:hover {
    transform: scale(1.2);
}





/*Footer Section CSS*/
footer {
  background-color: #070211;
  background-size: cover;
  
  margin-top: 120px;
  color: white;
}

.footer {
  margin: 0;
  width: 100%;
  padding: 0 140px; 
  box-sizing: border-box; 
}

.contact {
  padding: 120px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 500 24px Inter, sans-serif;
  line-height: 40px;
  word-wrap: break-word;
}

.contact1 ul {
  list-style: none;
  padding-right: 130px;
}

.contact1 ul li {
  display: flex;
  align-items: center;
}

.contact1-icon {
  padding-right: 16px;
}

hr {
  margin: 0;
  border: 1px rgba(255, 255, 255, 0.15) solid;
}

.social {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.social img {
  padding-right: 24px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 500 24px Inter, sans-serif;
  line-height: 40px;
  word-wrap: break-word;
}

.copyright a {
  text-decoration: none;
  color: white;
}

.copyright a:hover {
  text-decoration: none;
  color: #FF0000;
}